@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary: #2f241f;
  --secondary: #553b33;
  --tertiary: #e5f0b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

main {
  margin: auto;
  max-width: 100rem;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar .brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .brand a {
  font-size: 22px;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.navbar .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
}

.navbar .nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 15px;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}

.navbar .nav-actions {
  display: flex;
  gap: 10px;
}

.navbar .nav-actions .btn {
  padding: 4px 16px;
  border-radius: 5px;
  background-color: var(--tertiary);
  border: none;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.navbar .nav-actions .btn:hover {
  background-color: #dce6b1;
  cursor: pointer;
}

.navbar .nav-actions .cart {
  padding: 10px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hero {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
}

.hero .left {
  padding: 100px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .left h1 {
  font-size: 65px;
  font-weight: 700;
  color: var(--primary);
}

.hero .left .group-btn {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.hero .left .group-btn .btn-search {
  padding: 20px 10px;
  width: 50%;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--tertiary);
}

.hero .left .group-btn .btn-search:hover {
  background-color: #dce6b1;
}

.hero .left .group-btn .btn-watch {
  padding: 20px 10px;
  width: 50%;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hero .left .group-btn .btn-watch:hover {
  background-color: #00000011;
}

.hero .right {
  position: relative;
  width: 40%;
}

.hero .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .right .price {
  position: absolute;
  bottom: 50px;
  left: 15px;
}

.hero .right .price .price-tag {
  background: #ffffff88;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 600;
  width: 70px;
  display: flex;
  justify-content: center;
}

.hero .right .price .product-name {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.hero .right .price .btn-detail {
  background: var(--primary);
  color: #ffffff;
  border-radius: 4px;
  padding: 14px 20px;
  font-size: 15px;
  font-weight: 400;
  width: 170px;
  display: flex;
  justify-content: center;
}

.about {
  width: 100%;
  background-color: var(--primary);
  color: #ffffff;
  padding: 70px 100px;
}

.about h3 {
  font-weight: 200;
  font-size: 20px;
}

.about h2 {
  font-weight: 700;
  font-size: 70px;
  margin: 40px 0;
}

.about .reasons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}

.about .reasons .reason {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 18px;
}

.about .reasons .reason-icon {
  background-color: #8a8a6a;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.partnership {
  width: 100%;
  padding: 70px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partnership .brand-total {
  color: black;
}

.partnership .brand-total h2 {
  font-size: 80px;
  font-weight: 700;
  text-align: start;
}

.partnership .brand-total p {
  font-size: 20px;
  font-weight: 300;
}

.partnership .brand-logo {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.furniture {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.furniture .left {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.furniture .left .recommend-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 100%;
  overflow: hidden;
}

.furniture .left .recommend-images img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s;
}

.furniture .left .recommend-images img:hover {
  transform: scale(1.03);
}

.furniture .right {
  width: 40%;
  padding: 70px 70px 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.furniture .right span {
  font-weight: 300;
  font-size: 18px;
}

.furniture .right h2 {
  font-weight: 700;
  font-size: 35px;
  margin: 30px 0;
}

.furniture .right h5 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 25px;
}

.furniture .right .description {
  background-color: var(--tertiary);
  padding: 20px;
  margin: 25px 0;
  border-radius: 5px;
}

.furniture .right .description h5 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
}

.furniture .right .description p {
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
}

.product {
  width: 100%;
  background-color: var(--primary);
  padding: 70px 100px;
}

.product .product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .product-heading span {
  font-size: 18px;
  font-weight: 300;
}

.product .product-heading h2 {
  font-size: 40px;
  font-weight: 700;
}

.product .product-heading .btn-more {
  padding: 15px 25px;
  height: 0%;
  background-color: var(--tertiary);
  border-radius: 5px;
}

.product .product-heading .btn-more:hover {
  background-color: #dce6b1;
}

.product .carousel {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  scroll-behavior: smooth;
  margin-top: 20px;
  padding-bottom: 10px;
  scrollbar-width: none;
}

.product .carousel .card {
  background-color: #3b2f28;
  border-radius: 5px;
  min-width: 280px;
  height: 350px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.product .carousel .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.product .carousel .card .info {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 0 0 16px 16px;
}

.product .carousel .card .info .price {
  background: #ffffff88;
  color: black;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  width: 55px;
  display: flex;
  justify-content: center;
}

.product .carousel .card .info .name {
  font-weight: 400;
  font-size: 20px;
}

.product .controls {
  text-align: center;
  margin-top: 15px;
  display: flex;
  justify-content: end;
}

.product .controls .btn {
  background: #cde18f;
  border: none;
  color: #2b221e;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
}

.product .controls .btn:hover {
  background-color: #dce6b1;
}

.contact {
  width: 100%;
  padding: 70px 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact span {
  color: black;
  font-weight: 300;
  font-size: 15px;
}

.contact h2 {
  color: black;
  font-weight: 700;
  font-size: 60px;
  margin: 25px 0;
  text-align: left;
}

.contact form {
  display: flex;
  align-items: center;
}

.contact form input {
  padding: 20px;
  width: 300px;
  height: 50px;
  border: 2px solid var(--tertiary);
  border-radius: 5px 0 0 5px;
}

.contact form input:focus {
  border: 2px solid var(--primary);
  outline: none;
}

.contact form .submit-btn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary);
  border-radius: 0 5px 5px 0;
}

.contact form .submit-btn:active {
  border: 2px solid var(--primary);
}

.contact form .submit-btn:hover {
  background-color: #dce6b1;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 40px 100px;
  gap: 30px;
  margin: auto;
  max-width: 100rem;
}

footer .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding-right: 6rem;
}

footer .left .brand {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer .left h5 {
  font-size: 17px;
  font-weight: 700;
}

footer .left p {
  margin: 20px 0;
  font-size: 15px;
  font-weight: 400;
  color: gray;
}

footer .left span {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}

footer .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 40%;
  gap: 50px;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer nav h6 {
  font-size: 18px;
  font-weight: 400;
}

footer nav a {
  font-size: 15px;
  font-weight: 400;
  color: gray;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    box-shadow: -4px 0 10px rgba(0,0,0,0.2);
  }

  .nav-links.show {
    right: 0;
  }

  .nav-actions {
    display: none;
  }

  .nav-links .cart {
    display: flex;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 5px;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }

  .hero {
    display: flex;
    flex-direction: column;
  }

  .hero .left {
    padding: 24px 45px;
    width: 100%;
  }

  .hero .left h1 {
    font-size: 50px;
    text-align: center;
  }

  .hero .left .group-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .left .group-btn .btn-search {
    width: 70%;
  }

  .hero .left .group-btn .btn-watch {
    width: 70%;
  }

  .hero .right {
    width: 100%;
    height: 400px;
  }

  .hero .right .price .price-tag {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero .right .price .product-name {
    font-size: 50px;
  }

  .hero .right .price .btn-detail {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about {
    padding: 24px 45px;
  }

  .about h3 {
    text-align: center;
  }

  .about h2 {
    font-size: 35px;
    text-align: center;
  }

  .about .reasons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about .reasons .reason {
    font-size: 25px;
  }

  .partnership {
    padding: 24px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partnership .brand-total h2 {
    font-size: 50px;
    text-align: center;
  }

  .partnership .brand-total p {
    font-size: 20px;
    font-weight: 300;
  }

  .product {
    padding: 24px 45px;
  }

  .product .product-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product .product-heading span {
    font-size: 15px;
  }

  .product .product-heading h2 {
    font-size: 28px;
  }

  .furniture {
    display: flex;
    flex-direction: column-reverse;
    padding: 24px 45px;
  }

  .furniture .left {
    width: 100%;
    display: flex;
    padding: 35px 0;
  }

  .furniture .right {
    width: 100%;
    padding: 0;
  }

  .furniture .right span {
    font-weight: 300;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .furniture .right h2 {
    text-align: center;
  }

  .contact {
    width: 100%;
    padding: 24px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact span {
    font-size: 18px;
  }

  .contact h2 {
    font-size: 40px;
    margin: 25px 0;
    text-align: center;
  }

  .contact form .submit-btn {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary);
    border-radius: 0 5px 5px 0;
  }

  .contact form .submit-btn:active {
    border: 2px solid var(--primary);
  }

  .contact form .submit-btn:hover {
    background-color: #dce6b1;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 24px 45px;
  }

  footer .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 0;
  }

  footer .left .brand {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  footer .left h5 {
    font-size: 20px;
    font-weight: 700;
  }

  footer .left p {
    font-size: 15px;
    text-align: center;
  }

  footer .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  footer nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  footer nav h6 {
    font-size: 15px;
    font-weight: 400;
  }

  footer nav a {
    font-size: 16px;
  }
}